@font-face {
  font-family: "iconfont"; /* Project id 2688878 */
  src: url('iconfont.woff2?t=1647931723830') format('woff2'),
       url('iconfont.woff?t=1647931723830') format('woff'),
       url('iconfont.ttf?t=1647931723830') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e62a";
}

.icon-guanbi:before {
  content: "\e60e";
}

.icon-play:before {
  content: "\e664";
}

.icon-kong:before {
  content: "\e708";
}

.icon-dianzan:before {
  content: "\e60c";
}

.icon-weizhi:before {
  content: "\e628";
}

.icon-huidaodingbu:before {
  content: "\e619";
}

.icon-tuichu:before {
  content: "\e616";
}

.icon-redian:before {
  content: "\e651";
}

.icon-rili:before {
  content: "\e89e";
}

.icon-youxiang:before {
  content: "\e681";
}

.icon-edu-s:before {
  content: "\e63b";
}

.icon-jiantoushang:before {
  content: "\e70e";
}

.icon-jiantouxia:before {
  content: "\e70f";
}

.icon-jiantouzuo:before {
  content: "\e710";
}

.icon-jiantouyou:before {
  content: "\e715";
}

.icon-gerenjianjie:before {
  content: "\e606";
}

.icon-jia:before {
  content: "\e687";
}

.icon-xiaochengxu_tubiao:before {
  content: "\e607";
}

.icon-shijian:before {
  content: "\e854";
}

.icon-VIP:before {
  content: "\e876";
}

.icon-liuyan:before {
  content: "\e60d";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-zanting:before {
  content: "\e6b2";
}

.icon-QQ:before {
  content: "\e610";
}

.icon-kaishi:before {
  content: "\e61d";
}

.icon-283:before {
  content: "\e74a";
}

.icon-tubiaozhizuomoban:before {
  content: "\e60a";
}

.icon-denglu:before {
  content: "\e602";
}

.icon-search:before {
  content: "\e629";
}

